//アコーディオンメニュー関連/////////////////////////
.js-accordion {
    box-shadow: 0 3px 0 #DDDDDD;
}

.js-accordion:hover {
    color: #ffffff;
    box-shadow: 0 3px 0 #DDDDDD;
}

.task_doing_collor{
    background-color: #FFFFFF;
    border: 2px #555555 solid;

}

.task_done_collor{
    background-color:#555555;
    border: 2px #FFFFFF solid;
    color:#FFFFFF;
}

td{
    background-color:#EEEEEE;
}
body .container {
    background-color:#FFFFFF
}
table, td, th {
    border: 2px white solid;
    border-radius:5px;
}

th{
    background-color:#DDDDDD;
}