table {
    border-radius:5px;
    width: 89%;
}

.move_week_zone{
    width: 89%;

}
.name_col{
    border-radius:5px;
    width: 5%;
}
.date_col{
    border-radius:5px;
    width: 10%;

}
