table {
    border-radius:5px;
    width: 100%;
}

th:nth-of-type(8){
    background-color: #0000ff;
    color: white;
}
th:nth-of-type(2){
    background-color: #EE0000;
}

.move_week_zone{
    width: 100%;
}
.name_col{
    border-radius:5px;
    width: 5%;
}
.date_col{
    border-radius:5px;
    width: 10%;

}
